<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="sqlServerConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=University;User Id=sa;Password=1"/>-->
    <add name="sqlServerConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=Aleksander-PC;Initial Catalog=UniversityDb;User ID=user;Password=Aa8032280322"/>
    <add name="firebirdConnectionString" providerName="FirebirdSql.Data.FirebirdClient" connectionString="Database=localhost:E:\\Work\\DataBase-2013-12-21\\DataBase\\FireBird\\UNIVERSITY.FDB;User=sysdba;Password=masterkey;ctype=win1251"/>
  </connectionStrings>
  <appSettings>
    <!-- The name of current connection string -->
   <add key="currentConnectionStringName" value="firebirdConnectionString"/> 
   <!--<add key="currentConnectionStringName" value="sqlServerConnectionString"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
